.page3_whole{
    padding-top: 3rem;
    margin:0 auto;
    width:1060px;
}
.page3_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding:10px;
    /* height: */
    padding: 20px 0 80px;
}

.page3_gird_left{
    width:700px;
    height:800px;

}

.page3_img{
    width:700px;
    height: 490px;
}
.page3_grid_left h2{
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
    word-break: keep-all;
    word-wrap: break-word;
}
.page3_grid_right{
    width:340px;
    margin-left: 20px;
}
.page3_box{
    width: 340px;
    border: 1px solid #e1e2e3;
    background-color: #fff;
    padding: 24px 20px;
}
.reward h3{
    font-size: 15px;
    font-weight: 600;
    letter-spacing: normal;
    text-align: left;
}
.reward h4{
    font-size: 14px;
    font-weight: 600;
    color: #999;
    margin-bottom: 8px;
    line-height: 1.2;
}

.reward ul{
    display: flex;
    margin-top: 24px;
    margin-bottom:24px;
}

.reward li{
    float: left;
    width: 50%;
    letter-spacing: normal;
    text-align: left;
}

.page3_box_bookmark_btn{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #36f;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    color: #36f;
    text-align: center;
    background-color: white;
}
.page3_box_apply_btn{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background-color: #36f;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    color: #fff;
    text-align: center;
    margin-top:10px;
}

.page3_position_find{
    width:1060px;
    height: 300px;
    margin:0 auto;
}

.page3_position_find h2{
    font-size: 24px;
    font-weight: 700;
}

.page3_position_find ul{
    display:flex;
}
.page3_position_find li{
    margin:auto;
    width: 250px;
    height: 250px;
}
.page3_position_find li img{
    width:250px;
    height: 200px;
}