.header{
    width:100vw;
    height:50px;
    display:flex;
    border-bottom: 0.5px solid #e1e2e3;
    position:fixed;
    background-color: white;
    z-index: 90000;
}

.navbar{
    align-items: center;
    justify-content: space-between;
    display: flex;
    width:1060px;
    height: 50px;
    margin:auto;
}


.left{
    /* font-weight: bold; */
    display:flex;
    width:106.8px;
    height:20.8px;
}

.Wanted_logo_left{
    width:74px;
    height:19.8px;
    object-fit: fill;
}
#hamberger{
    width:17px;
    height: 20.8px;
    text-align: center;
    padding: 0px;
    background-color: inherit;
    margin:0px 15px 0px 0px;
}
/* margin: (위 오른쪽 아래 왼쪽 ) */
.hamberger_img{
    width:17px;
    height:20px;
    object-fit:contain;
}

#hamber_hover{
    display:none;
    /* overflow-y: scroll; */
    z-index: 1;
    position: absolute;
    background-color: white;
    /* margin-top: 30px; */
}

#hamber_hover ul{
    /* display: block; */
    padding: 5px 100px 5px 10px;
    font-size: 13px;
    line-height: 2.86;
    list-style: none;
    overflow-y: scroll;
}

.left_hover{
    height:50px;
}

.left_hover:hover #hamber_hover
{
    display:block;
} 


.center{
    height: inherit;
    text-align: center;
    margin: 0;
    vertical-align: middle;
    display: inline-block;
} 

.center li{
    height: inherit;
    float:left;
    cursor: pointer;
}

.center a{
    padding:15px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    display:flex;

}


.right{
    display:flex;
    width: 271px;
    padding:10px 0px;
}

#serch{
    width:30px;
    height:20px;
    margin:5px 0 0;
    padding : 0 10px;
    background-color: inherit;
}


#sign{
    width: 110px;
    margin: 0px 6px 0px 15px;
    padding:0 10px;
    background-color: white;
    height: 20px;
    white-space: nowrap;
}



#service{
    margin-left:20px; 
    border:0.5px solid #e1e2e3;
    background-color: white;
    border-radius: 20px;
    margin: 0px 6px 0px 6px;
    height: 20px;
    padding:0 10px;
}
