.header{
    width:100vw;
    height:3.125rem;
    display:flex;
    border-bottom: .0313rem solid #e1e2e3;
    position:fixed;
    background-color: white;
    z-index: 90000;
}

.navbar{
    align-items: center;
    justify-content: space-between;
    display: flex;
    width:66.25rem;
    height: 3.125rem;
    margin:auto;
}


.left{
    /* font-weight: bold; */
    display:flex;
    width:6.675rem;
    height:1.3rem;
}

.Wanted_logo_left{
    width:4.625rem;
    height:1.2375rem;
    object-fit: fill;
}
#hamberger{
    width:1.0625rem;
    height: 1.3rem;
    text-align: center;
    padding: 0rem;
    background-color: inherit;
    margin:0rem .9375rem 0rem 0rem;
}
/* margin: (위 오른쪽 아래 왼쪽 ) */
.hamberger_img{
    width:1.0625rem;
    height:1.25rem;
    object-fit:contain;
}

#hamber_hover{
    display:none;
    /* overflow-y: scroll; */
    z-index: 1;
    position: absolute;
    background-color: white;
    /* margin-top: 1.875rem; */
}

#hamber_hover ul{
    /* display: block; */
    padding: .3125rem 6.25rem .3125rem .625rem;
    font-size: .8125rem;
    line-height: 2.86;
    list-style: none;
    overflow-y: scroll;
}

.left_hover{
    height:3.125rem;
}

.left_hover:hover #hamber_hover
{
    display:block;
} 


.center{
    height: inherit;
    text-align: center;
    margin: 0;
    vertical-align: middle;
    display: inline-block;
} 

.center li{
    height: inherit;
    float:left;
    cursor: pointer;
}

.center a{
    padding:.9375rem;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    display:flex;

}


.right{
    display:flex;
    width: 16.9375rem;
    padding:.625rem 0rem;
}

#serch{
    width:1.875rem;
    height:1.25rem;
    margin:.3125rem 0 0;
    padding : 0 .625rem;
    background-color: inherit;
}


#sign{
    width: 6.875rem;
    margin: 0rem .375rem 0rem .9375rem;
    padding:0 .625rem;
    background-color: white;
    height: 1.25rem;
    white-space: nowrap;
}



#service{
    margin-left:1.25rem; 
    border:.0313rem solid #e1e2e3;
    background-color: white;
    border-radius: 1.25rem;
    margin: 0rem .375rem 0rem .375rem;
    height: 1.25rem;
    padding:0 .625rem;
}
