.dev_whole{
    padding-top: 3rem;
}
.dev_article{
    width:100vw;
    height: 72px;
    padding-top:40px;
    display: block;
    /* position: fixed; */
}

.dev_article_none{
    display:none;
}

.dev_nav{
    width: 1060px;
    height: 32px;
    display: flex;
    margin:0px auto;
    z-index: 100;
}

.JobGroup_JobGroup__H1m1m {
    display: flex;
    align-items: center;
    /* white-space: nowrap; */
    background-color: white;
}
.JobGroup_JobGroup__title__nZmec{
    /* padding-top: 3px;*/
    /* margin-right: 15.5px; */
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: #333;
}
.dev_more_btn{
    width: 26px;
    height: 29px;
    border-radius: 100%;
    background-color: white;
    margin:auto 10px;
}

.dev_whole_btn{
    border-left:0.5px solid #333;
    padding-top: 3px;
    margin-right: 10px;
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    color: #333;
    background-color: white;
}

.dev_fliter{
    padding-top: 10px;
    margin-bottom: 25px;
    width: 100%;
    background-color: white;
    position:unset;
}


.fixedBox{
    padding-top: 20px;
    width: 100%;
    background-color: white;
    position:fixed;
    padding-bottom: 0;
    z-index: 20;
}


.dev_fliter_one{
    width:1060px;
    height: 40px;
    display: flex;
    align-items: center;
    margin:0 auto;
    justify-content: space-between;

}

/* .divider{
    border: 0.5px solid #e1e2e3;
} */

.dev_fliter_one_left button{
    align-items: center;
    display: inline-flex;
    height: 40px;
    width:95px;
    background-color: white;
    padding: 0 15px;
    margin-bottom: 0;
    border-radius: 5px;
    border: 1px solid #ececec;
    position: relative;
}

.dev_fliter_one_right button{
    border-radius: 4px;
    border: 1px solid #ececec;
    background-color: #fff;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    letter-spacing: normal;
    color: #000;
    padding: 0 16px;
    position: relative;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
}

.divider{
    max-width: 1060px;
    margin: 25px auto;
    /* color: rgba(236,236,236,.7); */
    border: 0.4px solid #e1e2e3;
}

.Dev_Tag_border{
    border-bottom: 0.75px solid #e1e2e3;
}

.fixedBox_border{
    border-bottom: 0.5px solid blue;
}

.tag{
    overflow-x: hidden;
    width:1060px;
    padding-bottom:25px;
    margin:0 auto;
}
.tag button{
    position: relative;
    height: 32px;
    padding: 8px 14px;
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: #333;
    border: 1px solid transparent
}

.tag button img{
    height: 16px;
    width: 16px;
    align-items: center;
}

.bookmark{
    display: flex;
    color: #36f;
    font-size: 15px;
    align-items: center;
}

.fun{
    font-size: 22px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -.3px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:10px;
}

.fun_div{
    width: 1080px ;
    height: 270px;
    display: flex;
}



.dev_wrap{
    width:1060px;
    justify-content: center;
    margin: 50px auto;
}

.dev_wrap ul{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.dev_wrap li{
    width:250px;
    height: 375px;
}
.dev_wrap_top{
    width: 250px;
    height: 187px;
    /* display: inline-block;
    vertical-align: top; */
}
.wrap_bookMark{
    z-index:10;
    position:absolute;
    width: 23px;
    height: 23px;
}
.dev_wrap_bottom h3{
    color: #333;
    font-size: 18px;
    font-weight: 600;
    max-height: 2.4em;
    text-align: left;
    word-break: break-word;
    margin-bottom: 8px;
    
}


.dev_wrap_img{
    width: 250px;
    height: 187px;
    position : relative;
}

.wrap_bookMark{
    z-index:10;
    position:absolute;
    width: 23px;
    height: 23px;
    color:#fff;
}