.SearchBar_Background{
    position:fixed;
    top:0;
    left: 0;
    width:100vw;
    height: 100vh;
    background-color : rgba(0,0,0,0.2);
}

.SearchBar_Wrapper{
    position:fixed;
    text-align: center;
    background-color: #fff;
    left:0;
    width :100vw;
    height: 250px;
}


.Search_close_Sec{
    top: 250px;
    height:70%;
    width: 100vw;
}