.signUp_background{
    position:fixed;
    top:0;
    left: 0;
    width:100vw;
    height: 100vh;
    background-color : rgba(0,0,0,0.2);
}
.signUp_wrapper{
    top: 50%;
    position:fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #fff;
    width:398px;
}

.signUp_header{
    height: 76px;
    width:398px;
    padding: 16px 20px;
    display: flex;
    border-bottom: 1px solid #ececce;
    color: #333;
    width:fit-content;
    flex: 1 1 0%;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}

.signUp_close{
    width:80px;
    height: 76px;
}

.signUp_header span{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width:230px;
    margin : 40px auto;
}

.signUp_inputValue{
    overflow: auto;
    padding: 20px;
}
