.signUp_background{
    position:fixed;
    top:0;
    left: 0;
    width:100vw;
    height: 100vh;
    background-color : rgba(0,0,0,0.2);
}
.signUp_wrapper{
    top: 50%;
    position:fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #fff;
}

.signUp_header{
    height: 50px;
    width:398px;
    padding: 16px 20px;
    display: flex;
    color: #333;
    width:fit-content;
    flex: 1 1 0%;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}

.signUp_close{
    width:80px;
    height: 50px;
    background-color: white;
}

.signUp_header span{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width:230px;
    margin : 40px auto;
}

.signUp_inputValue{
    padding: 20px;
    width: 360px;
    height: 500px;
    overflow-y:scroll;
    
}

.signUp_inputValue::-webkit-scrollbar {
    display: none;
}



.signUp_input_tit{
    margin:17px 0px 7px;
    text-align: left;
}

.signUp_input{
    width: 100%;
    height: 50px;
    min-height: 50px;
    padding: 0px 12px;
    outline: none;
    background-color: transparent;
    border: 1px solid #e1e2e3;
    box-sizing: border-box ;
    margin-bottom: 5px;
}

.signUp_email_div{
    width: 100%;
    height: 50px;
    min-height: 50px;
    outline: none;
    background-color:#f7f7f7 ;
    border: 1px solid #e1e2e3;
    box-sizing: border-box ;
    align-items: flex-start;
    padding: 0px 12px;
}

.email_palceHorder{
    height:20px;
    width:94%;
    margin-top:15px;
    color:#ccc;
    background-color: inherit;
    text-align:start;
}

.singUpP{
    color:gray;
    text-align: left;
    margin-bottom: 10px;
}
.signUp_select{
    width: 100%;
    height: 50px;
    min-height: 50px;
    padding: 0px 12px;
    outline: none;
    background-color: transparent;
    border: 1px solid #e1e2e3;
    box-sizing: border-box ;
    margin-bottom: 5px;
}
.signUp_moblie{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    box-sizing: border-box ;
}
.css-122uu24{
    height: 50px;
    min-height: 50px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    margin-left: 10px;
    padding: 0px 15px;
    width: auto;
    flex: 0 0 auto;
    border-radius: 5px;
    border: 1px solid #e1e2e3;
}

.css-122uu24:disabled{
    background-color: #dadada;
}
.agreement_container{
    text-align: left;
}

.joinBtn{
    width: 90%;
    height: 50px;
    min-height: 50px;
    padding: 0px 12px;
    outline: none;
    margin:auto;
    background-color:#f7f2f9;
    border: 1px solid #e1e2e3;
    box-sizing: border-box ;
    border-radius:50px;
    margin-bottom: 10px;
    margin-top:10px;
}
